.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  flex-wrap: wrap;
}

.label {
  width: 200px;
}

input {
  width: 100%;
}

button {
  line-height: 30px;
  padding: 0 10px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

button.current {
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px black;
}

button {
  cursor: pointer;
}
